.isit {margin: 0px auto; width: 90%; }
.lonely {background: var(--mggradient); border-radius: 15px 15px 0px 0px; padding: 20px; }
.where {background: var(--bg6); border-radius: 0px 0px 15px 15px; padding: 20px; }
.youare { height: 30px;  margin: 0 auto; position: relative; padding: 10px;font-family: 'Kristopher';  font-size: 45px; text-align: center; cnt-size: 16px; color: var(--bg10); text-shadow: 0 5px 10px rgba(0,0,0,0.4);}
.allthe {height: 150px; margin: 0 auto; position: relative; padding: 10px; border-radius: 15px 15px 15px 15px; background: var(--bg9);}
.way {height: 150px; padding: 10px; font-family: font-family: 'Poppins'; font-size: 15px; text-align: justify; color: var(--fontcolor1); }
.way b {font-family: 'Poppins'; font-size: 15px; color: rgb(var(--mgcolor1));}
.way i {font-family: 'Poppins'; font-size: 15px; background: var(--mggradient25);border-radius: 7px 7px 7px 7px;}
.flex-containera {

    display: flex;
    
    justify-content: space-evenly;  
    /* flex-flow: wrap; */  
    flex-wrap: wrap;
     padding-top: 20px; 
    padding-bottom: 15px; 
    height: 100%;
    gap: 20px;

  }

.flex-containera > div {}
.across { position: relative; height: 250px; }
.theroom {position: relative; height: 100px; background: var(--bg9); padding: 10px; border-radius: 15px 15px 15px 15px; }
.theroom img { position: relative; height: 100px; border-radius: 15px 15px 15px 15px; object-fit: cover; }
.witha {margin: 0 auto; top: 20px; position: relative; height: 35px; background: var(--mggradient); padding: 10px; border-radius: 15px 15px 0px 0px;}
.knife {font-family: 'Kristopher';  font-size: 18px; text-align: center; cnt-size: 16px;color: var(--bg10); text-shadow: 0 5px 10px rgba(0,0,0,0.4);}
.inside {margin: 0 auto; top: 6px; right: 10px; position: relative;  height: 35px; width: 100%; background: var(--bg9); padding: 10px; border-radius: 0px 0px 15px 15px;}
.your { height: 30px; font-family: font-family: 'Poppins'; font-size: 13px; text-align: justify; color: var(--fontcolor1); }
.your b {font-family: 'Poppins'; font-size: 13px; color: rgb(var(--mgcolor1));}
.your i {font-family: 'Poppins'; font-size: 13px; color: rgb(var(--mgcolor3));}


.apainted {margin: 0px auto; width: 90%; }
.heart {background: var(--mggradient); border-radius: 15px 15px 0px 0px; padding: 20px; }
.onasidewalk {background: var(--bg6); border-radius: 0px 0px 15px 15px; padding: 20px; }
.ableeding { height: 30px;  margin: 0 auto; position: relative; padding: 10px;font-family: 'Kristopher';  font-size: 45px; text-align: center; cnt-size: 16px; color: var(--bg10); text-shadow: 0 5px 10px rgba(0,0,0,0.4);}
.flex-containerb {

    display: flex;
    
    justify-content: space-evenly;  
    /* flex-flow: wrap; */  
    flex-wrap: wrap;
     padding-top: 20px; 
    padding-bottom: 15px; 
    height: 100%;
    gap: 5px;

  }
.flex-containerb > div {}
.sun { position: relative; height: 250px; }
.silverscreen {position: relative; height: 200px; background: var(--bg9); padding: 10px; border-radius: 15px 15px 15px 15px; }
.silverscreen img { position: relative; height: 200px; border-radius: 15px 15px 15px 15px; object-fit: cover; }
